StudentData

Jack/garbage_whatever
filtered_points.csv
frame_name_0.png
heel_tracking_output.csv
heel_tracking_output.xlsx
~$heel_tracking_output-full.xlsx
heel_tracking_output-full.csv
heel_tracking_output-full.xlsx
North to South videos/heel_tracking_output_Jack_20250611_full.csv
.gitignore
North to South videos/heel_tracking_dist.csv
.gitignore
North to South videos/heel_tracking_dist.xls
.gitignore
North to South videos/heel_tracking_output-heavy.csv
North to South videos/heel_tracking_output_Jack_20250611_full.xlsx
North to South videos/heel_tracking_output-heavy.heavy.xlsx
.gitignore
North to South videos/heel_tracking_output-heavy.xlsx
North to South videos/heel_tracking_output-lite.csv
North to South videos/heel_tracking_output-lite.xls
~$heel_tracking_output-heavy.heavy.xlsx
.gitignore
20250611-Jack-S-N-heavy-Test1.xlsx
heel_tracking_output_distance_Jack_Test1_2025June11-extra.xlsx
heel_tracking_output_distance_Jack_Test1_2025June11.xlsx
