
# Python cache files
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Virtual environments
venv/

# The data folders
StudentData/camera_calibration/*
StudentData/csv_files/*
StudentData/vibration_test_data/*
StudentData/video_hallwayTests/*


# Model files
Models/*
*.task

# Data files
StudentData/**/*.csv
StudentData/**/*.asf
StudentData/**/*.hdf5

# Keep some data files for calibration and testing
!all_checkerboard_points.csv
!poll_run_7-10-2025_10-50-56 AM.asf
!Jack_clockTest_interuptVPoll.hdf5


